{% extends "base.html" %}

{% block title %}About Alpha Kappa Psi{% endblock %}

{% block content %}

<div class="sectiontitle">Letter from the President</div>

<div id="letter">
	Alpha Kappa Psi is recognized as the premier developer of principled business leaders. Our international fraternity was founded at New York University in 1904, and the CMU Omega Psi chapter was started in 2005. Since then we've been attracting the brightest business-minded students on campus in the interest of developing their professional skills and living our core values of Brotherhood, Knowledge, Integrity, Service, and Unity.
	<br><br>
	As Carnegie Mellon's only professional fraternity, Alpha Kappa Psi is a unique brotherhood to this campus. Regardless of age or major, each our brothers are dedicated to pursuing excellence in corporate and community leadership. We are proud to call many of the most accomplished leaders on campus our own: presidents of business clubs and honor societies, chairs of major campus-wide events, student teachers, varsity athletes, and organizers of important community service initiatives. Our majors are as diverse as our interests, with one third of our members studying Business Administration and the rest studying anything from Creative Writing to Electrical and Computer Engineering.
	<br><br>
	When our members graduate, they join a rich CMU Alpha Kappa Psi alumni network spanning across the country. Our graduates can be found working at some of the most prestigious business and technology companies in the world: from Google to Goldman Sachs, from Microsoft to McKinsey & Company, and more. I invite you to see for yourself why the members of the Omega Psi chapter are proud to be in Alpha Kappa Psi, and discover if you want to be a part of it as well.
	<br><br>
	Sincerely, <br>
	Manuel Garber<br>
	President of the Omega Psi Chapter
</div>

{% endblock %}